#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        #include "macros.dtsi"
      #include "version.dtsi"
      #ifndef VERSION_MACRO

        macro_ver: macro_ver {
            compatible = "zmk,behavior-macro";
            label = "macro_version";
            #binding-cells = <0>;
            bindings = <&kp RET>;
        };

        #endif

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <175>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    macros {
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp ESCAPE  &kp N1            &kp N2        &kp N3          &kp N4   &kp N5  &none                                                         &none          &kp N6  &kp N7            &kp N8             &kp N9  &kp N0  &kp GRAVE
&kp TAB     &kp SQT           &kp COMMA     &kp PERIOD      &kp P    &kp Y   &none                                                         &kp SLASH      &kp F   &kp G             &kp C              &kp R   &kp L   &kp EQUAL
&none       &kp A             &kp O         &kp E           &kp U    &kp I   &none         &none      &none      &none          &none      &kp BACKSLASH  &kp D   &kp H             &kp T              &kp N   &kp S   &kp MINUS
&kp LSHFT   &kp SEMICOLON     &kp Q         &kp J           &kp K    &kp X                            &none      &none                                    &kp B   &kp M             &kp W              &kp V   &kp Z   &none
&none       &kp LEFT_CONTROL  &kp LEFT_ALT  &kp LEFT_SHIFT  &kp TAB          &kp LEFT_GUI  &kp SPACE  &none      &kp BACKSPACE  &kp ENTER  &mo 1                  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &none   &none   &none
            >;
        };

        fn {
            bindings = <
&trans  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &trans                                      &trans  &kp F6  &kp F7                &kp F8                 &kp F9           &kp F10  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans                                      &trans  &none   &none                 &kp UP_ARROW           &none            &kp F11  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &kp LEFT_ARROW        &kp DOWN_ARROW         &kp RIGHT_ARROW  &kp F12  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans      &trans                  &trans  &none                 &trans                 &trans           &trans   &trans
&trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans      &trans  &trans  &trans          &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &trans           &trans   &trans
            >;
        };
    };
};
